@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@{
    // Inicialización de objetos
    var textInfo = CultureInfo.CurrentCulture.TextInfo;

    var botones = new List<(string iconos, string nombre)>{
        ("fa-brands fa-apple text-white", "Apple"),
        ("fa-brands fa-github text-white", "GitHub"),
        ("fa-brands fa-google text-orange-700", "Google")
    };

    var formulario = new List<(string tipo, string icono)>{
        ("email", "fa-envelope"),
        ("password", "fa-lock")
    };
}
<div class="min-h-screen bg-gradient-to-br from-indigo-100 via-white to-pink-100 flex flex-col items-center justify-center p-4">
    <div class="w-full max-w-md space-y-8">
        <!-- Logo -->
        <div class="flex justify-center">
            <img class="w-12 h-12 rounded-lg"
                 src="~/images/Mistral-Logo.png" />
        </div>

        <!-- Headers -->
        <div class="text-center">
            <h1 class="text-2xl font-semibold text-gray-900">
                Iniciar Sesión en Mistral
            </h1>
        </div>

        <!-- Social Login Buttons -->
        <div class="grid grid-cols-3 gap-3">
            @foreach (var boton in botones) {
                string caracteristicas = boton.nombre switch {
                    "Apple" => "bg-black text-white",
                    "GitHub" => "bg-black text-white",
                    "Google" => "bg-white !text-gray-500 border !border-gray-200",
                    _ => "bg-neutral-50"
                };
                <button class="btn btn-link w-full rounded @caracteristicas"><i class="@boton.iconos"></i>&#32;@textInfo.ToTitleCase(boton.nombre.ToLower())</button>
            }
        </div>

        <!-- Divider -->
        <div class="relativa">
            <div>
                <hr class="w-full border-t border-gray-400 mt-1 mb-2" />
            </div>
            <div class="relative flex justify-center text-sm">
                <span class="px-2 text-gray-500">or</span>
            </div>
        </div>

        <form class="space-y-6 mt-4" method="GET">
            @foreach (var dato in formulario) {
                string placeholder = dato.tipo switch {
                    "email" => "Email address",
                    "password" => "Password",
                    _ => ""
                };
                <div class="has-icon-left">
                    <input class="bg-gray-50 w-full form-input" type="@dato.tipo" placeholder="@placeholder" />
                    <i class="form-icon fa-solid @dato.icono"></i>
                </div>
            }
            <input type="submit" value="Iniciar Sesión en Mistral" class="btn btn-link rounded w-full bg-black hover:bg-gray-200 text-white">
        </form>

        <!-- Registro Link -->
        <p class="text-center text-sm">
            No tienes una cuenta?<br>
            <a asp-controller="Register" asp-action="Register" class="text-gray-900 hover:no-underline no-underline">Regístrate →</a>
        </p>

    </div>
</div>
